@font-face {
	font-family: Rockwell MT;
	font-display: swap;
	src: url("../fonts/Rockwell MT.woff2") format("woff2"), url("../fonts/Rockwell MT.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
